body {
	background-color: #00077e;
	color: #ffffff;
	font-family: Helvetica;
}

h1 {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	color: #ffffff;
}

h2 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
}

.button1 {
	margin-left: 50%;
	margin-right: 50%;
	border: none;
	width: 100px
	height: 25px;
	border-radius: 31px;
	background: #00077e;
	box-shadow: 6px 6px 13px #000667, 
	            -6px -6px 13px #000895;
}

.button2 {
	margin-left: 50%;
	margin-right: 50%;
	border: none;
	width: 100px
	height: 25px;
	border-radius: 31px;
	background: #00077e;
	box-shadow: 11px 11px 22px #00055c, 
	            -11px -11px 22px #0009a0;
}

.button3 {
	margin-left: 50%;
	margin-right: 50%;
	border: none;
	width: 100px
	height: 25px;
	border-radius: 31px;
	background: linear-gradient(145deg, #000787, #000671);
	box-shadow: 11px 11px 22px #00055c, 
	            -11px -11px 22px #0009a0;
}

.button3:hover {
	margin-left: 50%;
	margin-right: 50%;
	border: none;
	width: 100px
	height: 25px;
	border-radius: 31px;
	background: linear-gradient(145deg, #000787, #000671);
	box-shadow: inset -11px -11px 22px #0009a0,
				inset 11px 11px 22px #00055c;      
}