body {
	background-color: #00077e;
	color: #ffffff;
	font-family: Helvetica;
	text-align: center;
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	color: #ffffff;
}

h2 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
}

.button1 {
	color: #ffffff;
	outline: none;
	border: none;
	font-family: Helvetica;
	padding: 25px 100px;
	border-radius: 15px;
	background: linear-gradient(145deg, #000787, #000671);
	box-shadow: 5px 5px 14px #000440, 
	            -5px -5px 14px #000abc;
}

.button1:hover {
	border: none;
	outline: none;
	color: #ffffff;		
	font-family: Helvetica;
	padding: 25px 100px;
	border-radius: 15px;
	background: linear-gradient(145deg, #000671, #000787);
}

.button1:active {
	border: none;
	outline: none;
	color: #ffffff;		
	font-family: Helvetica;
	padding: 25px 100px;
	border-radius: 15px;
	background: linear-gradient(145deg, #000671, #000787);
	box-shadow: inset 5px 5px 11px #00033e, 
	            inset -5px -5px 11px #000bbe;
}


.diverComponent {
	border: none;
	outline: none;
	color: #ffffff;
	font-family: Helvetica;
	padding: 25px 100px;
	border-radius: 15px;
	background: linear-gradient(145deg, #000787, #000671);
	box-shadow: 5px 5px 11px #00033e, 
	            -5px -5px 11px #000bbe;
}

input::placeholder {
  color: #A0ffff;
/*
.button2Dive {
	border: none;
	color: #ffffff;		
	font-family: Helvetica;
	padding: 25px 100px;
	transition-duration: 0.5s;
	border-radius: 15px;
	background: #00077e;
	box-shadow: inset 0px 0px 0px #00077e, 
	            inset 0px 0px 0px #00077e;
}*/