

* {
  box-sizing: border-box;
}



/*dark blue #0438B6      middle #4571FF  light    #A0FFFF     */

body {
	background-color: #0438B6;
	font-family: Helvetica;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	color: #A0FFFF;
}

h2 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #A0FFFF;
}

h3 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #A0FFFF;
}

.button1 {
	color: #A0FFFF;
	cursor: pointer;
	outline: none;
	border: none;
	font-family: Helvetica;
	padding: 25px 100px;
	border-radius: 15px;
	background: linear-gradient(145deg, #043cc3, #0432a4);
	box-shadow: 5px 5px 11px #03309b, 
	            -5px -5px 11px #0540d1;
}

.button1:hover {
	border: none;
	cursor: hand;
	outline: none;
	color: #A0FFFF;	
	text-shadow: 0px 0px 10px #A0FFFF;
	font-family: Helvetica;
	padding: 25px 100px;
	border-radius: 15px;
	background: linear-gradient(145deg, #0432a4, #043cc3);
}

.button1:active {
	border: none;
	outline: none;
	color: #A0FFFF;		
	font-family: Helvetica;
	padding: 25px 100px;
	border-radius: 15px;
	background: linear-gradient(145deg, #043cc3, #0432a4);
	box-shadow: 5px 5px 11px #03309b, 
	            -5px -5px 11px #0540d1,
	            inset 5px 5px 11px #03309b, 
	            inset -5px -5px 11px #0540d1;
}


.input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid;
	border-color: #A0FFFF;
	border-bottom-width: 1px;
	padding-bottom: 5px;
	height: 20px;
	outline: none;
	color: #A0FFFF;		
	font-family: Helvetica;
	background: linear-gradient(145deg, #043cc3, #0432a4);

}

#diveIMG1:hover {
	transform: translateY(-20px);
	transition-duration: 0.3s;
}


#diveIMG1 {
	transition-duration: 0.3s;
}

.diverComponent {
	border: solid;
	border-color: #0438B6;
	border-width: 2px;
	outline: none;
	padding: 10%;
	color: #A0FFFF;
	font-family: Helvetica;
	border-radius: 15px;
	background: linear-gradient(145deg, #043cc3, #0432a4);
	box-shadow: 5px 5px 11px #03309b, 
	            -5px -5px 11px #0540d1,
	            inset 5px 5px 11px #03309b, 
	            inset -5px -5px 11px #0540d1;
}

/* Create three equal columns that floats next to each other */
.column3 {
  float: right;
  width: 31%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input::placeholder {
  color: #4571FF;
}
